* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	border: .5px solid black;*/
}
.landing-page	{
	height: 100vh;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(90deg, rgba(149,149,149,0) 0%, 
		rgba(220,218,255,0.7707457983193278) 27%, 
		rgba(201,217,255,0.6979166666666667) 70%, 
		rgba(0,212,255,0) 100%), url("../images/bg.jpeg");
	background-size: cover;
	background-position: center;
}
h3	{
	width: 70%;
	text-align: center;
}
section > div {
	height: 70%;
	width: 60%;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
	padding-top: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
form >div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-page {
	width: 100%;
/*	height: 200vh*/;
	background-color: whitesmoke;
}
.survey-1, .survey-2, .survey-3, .survey-4 {
	width: 100%;
	height: 200vh;
	background-color: whitesmoke;
	justify-content: space-around;
	align-items: center;
	display: flex;
}
.main-box1{
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	border:1px solid black;
	flex-direction: column;
}
.q {
	height: 15%;
	width: 80%;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;
}
.c1 {
	height: 50px;
	width: 50px;
	background-color: salmon;
	border-radius: 50%;
	margin: 0 2% 0;
}
.c2 {
	height: 40px;
	width: 40px;
	border: 1px solid salmon;
	border-radius: 50%;
	margin: 0 2% 0;
}
.c3 {
	height: 30px;
	width: 30px;
	border: 1px solid salmon;
	border-radius: 50%;
	margin: 0 2% 0;
}
.c4 {
	height: 40px;
	width: 40px;
	border: 1px solid salmon;
	border-radius: 50%;
	margin: 0 2% 0;
}
.c5 {
	height: 50px;
	width: 50px;
	border: 1px solid salmon;
	border-radius: 50%;
	margin: 0 2% 0;
}
#next-btn1, #next-btn2, #next-btn3, #next-btn4 {
	width: 15%;
}


.border {
	height: 5px;
	width: 80%;
	background: rgb(220,218,255);
	background: linear-gradient(90deg, 
		rgba(220,218,255,0.7707457983193278) 0%, 
		rgba(201,217,255,0.7847514005602241) 50%, 
		rgba(0,181,218,0.44861694677871145) 100%);
}







/*Results*/
.container {
	height: 100vh;
	width: 100%;
}

.container div {

}

.result1{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header{
	width: 100%;
	height: 20%;
}

.description{
	width: 100%;
	height: 20%;
}

.details{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}



.right-boxes {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.right-boxes div {
	height: 200px;
	width: 200px;

}

.paragraph {
	width: 50%;
	height: 80%;
	text-align: justify;
	padding: 20px;
}

.img1{
	background-image:url("../images/celebrity/1.png");
	background-size: cover;
	background-position: center;
}

.img2{
	background-image:url("../images/Tech/1.png");
	background-size: cover;
	background-position: center;
}
.img3{
	background-image:url("../images/celebrity/2.png");
	background-size: cover;
	background-position: center;
}

.img4{
	background-image:url("../images/Tech/2.png");
	background-size: cover;
	background-position: center;
}
.img5{
	background-image:url("../images/celebrity/3.png");
	background-size: cover;
	background-position: center;
}

.img6{
	background-image:url("../images/Tech/3.png");
	background-size: cover;
	background-position: center;
}
.img7{
	background-image:url("../images/celebrity/4.png");
	background-size: cover;
	background-position: center;
}

.img8{
	background-image:url("../images/Tech/4.png");
	background-size: cover;
	background-position: center;
}
.img9{
	background-image:url("../images/celebrity/5.png");
	background-size: cover;
	background-position: center;
}

.img10{
	background-image:url("../images/Tech/5.png");
	background-size: cover;
	background-position: center;
}
.img11{
	background-image:url("../images/celebrity/6.png");
	background-size: cover;
	background-position: center;
}

.img12{
	background-image:url("../images/Tech/6.png");
	background-size: cover;
	background-position: center;
}
.img13{
	background-image:url("../images/celebrity/7.png");
	background-size: cover;
	background-position: center;
}

.img14{
	background-image:url("../images/Tech/7.png");
	background-size: cover;
	background-position: center;
}
.img15{
	background-image:url("../images/celebrity/8.png");
	background-size: cover;
	background-position: center;
}

.img16{
	background-image:url("../images/Tech/8.png");
	background-size: cover;
	background-position: center;
}




.img17{
	background-image:url("../images/celebrity/9.png");
	background-size: cover;
	background-position: center;
}

.img18{
	background-image:url("../images/Tech/9.png");
	background-size: cover;
	background-position: center;
}
.img19{
	background-image:url("../images/celebrity/10.png");
	background-size: cover;
	background-position: center;
}

.img20{
	background-image:url("../images/Tech/10.png");
	background-size: cover;
	background-position: center;
}
.img21{
	background-image:url("../images/celebrity/11.png");
	background-size: cover;
	background-position: center;
}

.img22{
	background-image:url("../images/Tech/11.png");
	background-size: cover;
	background-position: center;
}
.img23{
	background-image:url("../images/celebrity/12.png");
	background-size: cover;
	background-position: center;
}

.img24{
	background-image:url("../images/Tech/12.png");
	background-size: cover;
	background-position: center;
}
.img25{
	background-image:url("../images/celebrity/13.png");
	background-size: cover;
	background-position: center;
}

.img26{
	background-image:url("../images/Tech/13.png");
	background-size: cover;
	background-position: center;
}
.img27{
	background-image:url("../images/celebrity/14.png");
	background-size: cover;
	background-position: center;
}

.img28{
	background-image:url("../images/Tech/14.png");
	background-size: cover;
	background-position: center;
}
.img29{
	background-image:url("../images/celebrity/15.png");
	background-size: cover;
	background-position: center;
}

.img30{
	background-image:url("../images/Tech/15.png");
	background-size: cover;
	background-position: center;
}
.img31{
	background-image:url("../images/celebrity/16.png");
	background-size: cover;
	background-position: center;
}

.img32{
	background-image:url("../images/Tech/16.png");
	background-size: cover;
	background-position: center;
}
